  body {
        font-family: Arial, sans-serif;
      }
      .header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #eee;
      }

      #main-container {
        background-color: lightblue;
        padding: 50px;
      }

      .product {
        border: 2px solid black;
        width: max-content;
        padding: 10px;
      }

      .products-container {
        display: grid;
        grid-auto-flow: column;
      }

      #products-view {
        display: grid;
      }